[github]
owner = "shiro"
repo = "style-this"

[packages.core]
versioned_files = ["packages/core/package.json"]
changelog = "packages/core/CHANGELOG.md"
scopes = ["core"]

[packages.solid]
versioned_files = ["packages/solid/package.json"]
changelog = "packages/solid/CHANGELOG.md"
scopes = ["solid"]

[packages.vite]
versioned_files = [
  "packages/vite/package.json",
  { path = "packages/core/package.json", dependency = "vite" },
]
changelog = "packages/vite/CHANGELOG.md"
scopes = ["vite"]


[[workflows]]
name = "release"

[[workflows.steps]]
type = "Command"
command = "pnpm build"

# Generates the new changelog and Cargo.toml version based on conventional commits.
[[workflows.steps]]
type = "PrepareRelease"

# Commit the changes that PrepareRelease added
[[workflows.steps]]
type = "Command"
command = "git commit -m \"chore: Bump to version\""

# Push the changes to GitHub so the created tag will point to the right place.
[[workflows.steps]]
type = "Command"
command = "git push"

# Create a GitHub release with the new version and release notes created in PrepareRelease. Tag the commit just pushed with the new version.
# [[workflows.steps]]
# type = "Release"
