[github]
owner = "shiro"
repo = "style-this"

[packages.core]
versioned_files = ["packages/core/package.json"]
changelog = "packages/core/CHANGELOG.md"
scopes = ["core"]

[packages.solid]
versioned_files = ["packages/solid/package.json"]
changelog = "packages/solid/CHANGELOG.md"
scopes = ["solid"]

[packages.vite]
versioned_files = [
  "packages/vite/package.json",
  { path = "packages/core/package.json", dependency = "vite" },
]
changelog = "packages/vite/CHANGELOG.md"
scopes = ["vite"]


[[workflows]]
name = "new"

[[workflows.steps]]
type = "CreateChangeFile"

[[workflows]]
name = "get-version"
help_text = "Get the current version of the project"

[[workflows.steps]]
type = "Command"
command = 'echo "$version"'

[[workflows]]
name = "save"

[[workflows.steps]]
type = "Command"
command = "pnpm build"

# Generates the new changelog and Cargo.toml version based on conventional commits.
[[workflows.steps]]
type = "PrepareRelease"

# Commit the changes that PrepareRelease added
[[workflows.steps]]
type = "Command"
command = "git commit -m \"chore: Release\""

# Push the changes to GitHub so the created tag will point to the right place.
[[workflows.steps]]
type = "Command"
command = "git push"
