.s2-w5qjc1 {
color: pink;
  __styleThis_expression_2-xqzcdq
  
}
.__styleThis_expression_5-z0dufg {
background: blue;
    
}
.unrelated-ox2zkx {
background: none;
  color: white;
}
.__styleThis_expression_2-9ejoh6 {

}
.s1-9qjw5y {
background: blue;
    
    
}