.__styleThis_expression_2-9ejoh6 {

}
.unrelated-ox2zkx {
background: none;
  color: white;
}
.s1-9qjw5y {
background: blue;
    
    
}
.__styleThis_expression_5-z0dufg {
background: blue;
    
}
.s2-w5qjc1 {
color: blue;
  color: green;
    
  
}