.s2-iijjjk {
color: pink;
  
}
.var_282_287-kklllm {

}
.unrelated-ggghhh {
background: none;
  color: white;
}
.var_172_206-opppqq {
background: blue;
    
}
.s1-mmnnoo {
background: blue;
    
    
}